</main>

<!-- 푸터 -->
<footer class="footer">
    <div class="container">
        <small>BDJ.Finance © 2025. ALL RIGHTS RESERVED.</small>
    </div>
        <a href="/faq">자주 묻는 질문 |</a>
        <a href="/terms">이용약관 |</a>
        <a href="/privacy">개인정보처리방침</a>

        <div style="display:flex; flex-direction: column; gap:10px; align-items: center;">
            <a href="/contact"> Contact | Kim CY : stonez788@gmail.com | Yang SR : nftsgsrz3@gmail.com | Choi JW : pajama7522@gmail.com</a>
            <div style="display:flex; gap:20px; margin-top: 10px;">

        </div>
    </div>
</footer>

<script src="/js/login.js"></script>
<script src="/js/register.js"></script>
<script src="/js/main.js"></script>
<script src="/js/chatbot.js"></script>
</body>
</html>
