<%- include('inc/top', {title:'홈'}) %>
<h1>메뉴</h1>
<ul>
  <li><a href="/select">배당주 선택</a></li>
  <li><a href="/charts/portfolio" target="_blank">포트폴리오 차트</a></li>
  <li><a href="/board">게시판</a></li>
</ul>
<div id="chat-widget"></div>
<%- include('inc/bottom') %>
