<%- include('inc/top', {title:'로그인'}) %>
<div class="form-container">
  <h2 class="form-title">로그인</h2>
  <form method="post" action="/auth/login" class="form-table-box">
    <table class="form-table">
      <tr>
        <th><label for="email">이 메 일</label></th>
        <td><input id="email" name="email" type="email" placeholder="Email" required /></td>
      </tr>
      <tr>
        <th><label for="password">비밀번호</label></th>
        <td><input id="password" name="password" type="password" placeholder="Password" required /></td>
      </tr>
      <tr>
        <td colspan="2" class="form-submit">
          <button type="submit" class="btn-primary">Login</button>
        </td>
      </tr>
    </table>
  </form>
</div>

<%- include('inc/bottom') %>